.graph .labels.x-labels {
      text-anchor: middle;
    }

    .graph .labels.y-labels {
      text-anchor: end;
    }

    .graph {
      height: 540px;
      width: 540px;
      border: 2px solid black;
      background: #e3d9da;
    }

    .graph .grid {
      stroke: black;
      stroke-dasharray: 0;
      stroke-width: 1;
    }

    .labels {
      font-size: 13px;
    }

    .label-title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      fill: black;
    }

    .data {
      fill: #bb4b64 ;
      stroke-width: 1;
      opacity: 60%;
    }