.graph .labels.x-labels {
      text-anchor: middle;
    }

    .graph .labels.y-labels {
      text-anchor: end;
    }

    .graph {
      height: 540px;
      width: 540px;
      border: 2px solid black;
      background: #e3d9da;
    }

    .graph .grid {
      stroke: black;
      stroke-dasharray: 0;
      stroke-width: 1;
    }

    .labels {
      font-size: 13px;
    }

    .label-title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      fill: black;
    }

    .data {
      fill: #bb4b64 ;
      stroke-width: 1;
      opacity: 60%;
    }

    @import '/laba/javax.faces.resource/css/fonts.css';

* {
  font-family: inherit;
  font-size: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}


.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  width: 100%;
  height: 100vh;
  margin: 0px auto 0px auto;
  background: url('/laba/javax.faces.resource/images/code.jpg.xhtml') no-repeat center;
  background-size: cover;
  position: relative;
}

.info {
  color: #fff;
  font-size: 40px;
  letter-spacing: 1.5px;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.lab {
  font-size: 50px;
}

#content {
  width: 100%;
  text-align: center;
  position: absolute;
  padding-top: 65vh;
  margin-top: 50px;
}

.super_button {
  margin-top: 30px;
  width: 200px;
  border: 2px solid rgba(213,82,82,.6);
  height: 50px;
  text-align: center;
  font-size: 16px;
  font-family: 'Fira Code', sans-serif;
  background-color: #CA3333;
  color: white;
  cursor: pointer;
  background: rgba(213,82,82,.5);
  transition: background-color 0.5s ease;
  letter-spacing: 2px;
}

.super_button:hover {
  background-color: rgba(213,82,82,.7);
}

#clock {
  background: none;
  color: white;
  border: none;
  font-weight: lighter;
  font-family: 'Rubik', sans-serif;
}